* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  border-style: none;
  list-style-type: none;
}

a {
  text-decoration: none;
}

button:focus {
  box-shadow: none !important;
}

input {
  box-shadow: none;
}

input:focus {
  box-shadow: none !important;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
}

html {
  min-height: 100%;
  position: relative;
}

body,
#root,
.App {
  /* background-color: rgb(237, 27, 36); */
  background-color: #00406f;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.main-title {
  font-size: 2rem;
  font-family: 'League Gothic', sans-serif;
  word-spacing: 0.5rem;
  line-height: 0.5em;
  letter-spacing: 10px;
  font-weight: bold;
  color: black;
  text-shadow: 3px 3px #00406f;

  background-color: #edff21;
}
/***********Login***********/
/**************************/

.login {
  min-height: 100%;
  background-color: #00406f;
  /* background-color: whitesmoke; */
}

.login > .container {
  min-height: 100%;
  box-sizing: border-box;
  max-width: 80%;
}
.login .main-title {
}
.subtitle-1 {
  font-size: 3rem;
  font-weight: bold;
}

.subtitle-2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.login .card {
  background-color: #00406f;
  /* background-color: whitesmoke; */
  border: none;
}

.login .card .card-body {
  color: black;
  background-color: rgb(237, 27, 36);
  height: 100%;
}

.login .card img {
  max-height: 75%;
  filter: drop-shadow(25px -10px 15px rgba(0, 0, 0, 0.9));
}

.login .card img:hover {
  filter: drop-shadow(15px -5px 10px rgba(0, 0, 0, 0.7));

  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.btn-login:hover {
  font-weight: bold;
  cursor: pointer;
}

/*********End**Login********/
/**************************/

/*************Header**********/
/**************************/
.header .container {
  min-height: 5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #edff21;
  border-radius: 7px;
}
.header > row {
  /* flex-grow: 1;
  height: 100%; */
}

.header .main-title {
  font-size: 5rem;
  font-family: 'League Gothic', sans-serif;
  word-spacing: 0;
  line-height: 0;
  letter-spacing: 5px;
  font-weight: bolder;
  color: #000;
  text-shadow: 7px 3px #00406f;
}

/************End header**********/
/**************************/

/************filters**********/
/**************************/
.filters {
  min-height: 3rem;
  background-color: #ed1b24;
  border-radius: 2rem;
}

/*********End filters**********/
/**************************/

/*************Home**********/
/**************************/
.saludo {
  /* font-weight: bolder; */
  /* background-color: rgb(237, 27, 36); */
  font-size: 1.5rem;
}

.saludo span {
  color: rgb(237, 27, 36);
}

.pokemon-list {
  padding: 0 1rem;
}

.pokemon-list .card {
  min-height: 300px;
  max-height: 600px;
}

.pokemon-list .card button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100px; */
}

.pokemon-list .card .card-body {
  height: 300px;
  width: 100%;
}

.pokemon-list .card img {
  max-height: 130px;
  margin-bottom: -3vh;
  position: relative;
}

.pokemon-list .card .card-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.pokemon-list .card p,
.pokemon-list .card hr {
  margin: 0;
}

/*********End Home**********/
/**************************/

/*********Pokemon details**********/
/******************************/
.pokemon-details {
  margin-top: 5rem;
}

.main-card_details {
  max-height: 35rem;
}

.pokemon-details .card img {
  max-height: 40rem;
  max-width: 40%;
  margin: auto;
  position: relative;
  margin-top: -100px;
}

.pokemon-details {
  text-align: center;
}

.movements ul li hr {
  margin: 0.2rem;
}

/*********End pokemon details**********/
/******************************/

/*********PAGINATION**********/
/******************************/
.paginate {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: 3rem;
  background-color: rgb(89, 179, 136);
  margin: 1rem auto;
  font-size: 1.2rem;
  border-radius: 10px;
}

.pagination-active {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212529;
  color: #ed1b24;
  width: 30px;
  height: 30px;
  border-radius: 10%;
}

.next-btn,
.previous-btn {
  color: #212529;
  font-weight: bold;
}
/*********END PAGINATION**********/
/******************************/

/*********LOADER**********/
/******************************/
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #00406f90;
  width: 100%;
  min-height: 100%;
  font-size: 5rem;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}

/*********END LOADER**********/
/******************************/

/*****backgrounds pokemon****/
/**************************/
.color-gray {
  color: gray;
}

.bg-fire {
  /* fire type */
  background-color: #fe5000;
  color: #fe5000;

  background: #fe5000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fe5000,
    #fe500050
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fe5000,
    #fe500050
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-grass {
  /* grass type */
  background-color: #84bd00;
  color: #84bd00;

  background: #84bd00; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #84bd00,
    #84bd0050
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #84bd00,
    #84bd0050
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-bug {
  /* bug type */
  background-color: #009f4d;
  color: #009f4d;

  background: #009f4d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #009f4d,
    #009f4d50
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #009f4d,
    #009f4d50
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-water {
  /* water type */
  background-color: #0077c8;
  color: #0077c8;

  background: #0077c8; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0077c8,
    #0077c850
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0077c8,
    #0077c850
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-normal {
  /* normal type */
  background-color: #683d5a;
  color: #683d5a;

  background: #683d5a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #683d5a,
    #683d5a50
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #683d5a,
    #683d5a50
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-fighting {
  /* fighting type */
  background-color: #bb1e10;
  color: #bb1e10;

  background: #bb1e10; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #bb1e10,
    #bb1e1050
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #bb1e10,
    #bb1e1050
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-poison {
  /* poison type */
  background-color: #49176d;
  color: #49176d;

  background: #49176d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #49176d,
    #49176d50
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #49176d,
    #49176d50
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-ghost {
  /* ghost type */
  background-color: #00205b;
  color: #00205b;

  background: #00205b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #00205b,
    #00205b50
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #00205b,
    #00205b50
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-rock {
  /* rock type */
  background-color: #caccd1;
  color: #caccd1;

  background: #caccd1; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #caccd1,
    #caccd150
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #caccd1,
    #caccd150
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-dark {
  /* dark type */

  background-color: #050f2c;
  color: #050f2c;

  background: #050f2c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #050f2c,
    #050f2c50
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #050f2c,
    #050f2c50
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-ice {
  /* ice type */
  background-color: #74d2e7;
  color: #74d2e7;

  background: #74d2e7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #74d2e7,
    #74d2e750
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #74d2e7,
    #74d2e750
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-steel {
  background-color: #335238;
  color: #335238;

  background: #335238; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #335238,
    #33523850
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #335238,
    #33523850
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-dragon {
  background-color: #0085ad;
  color: #0085ad;

  background: #0085ad; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0085ad,
    #0085ad50
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0085ad,
    #0085ad50
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-fairy {
  background-color: #ff4f81;
  color: #ff4f81;

  background: #ff4f81; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff4f81,
    #ff4f8150
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff4f81,
    #ff4f8150
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-electric {
  background-color: #3369e7;
  color: #3369e7;

  background: #3369e7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3369e7,
    #3369e750
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3369e7,
    #3369e750
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-ground {
  background-color: #ffc168;
  color: #ffc168;

  background: #ffc168; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffc168,
    #ffc16850
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffc168,
    #ffc16850
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-flying {
  background-color: #efdf00;
  color: #efdf00;

  background: #efdf00; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #efdf00,
    #efdf0050
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #efdf00,
    #efdf0050
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-psychic {
  background-color: #da1884;
  color: #da1884;

  background: #da1884; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #da1884,
    #da188450
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #da1884,
    #da188450
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-unknow {
  background-color: #fefefe;
  color: #fefefe;

  background: #fefefe; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fefefe,
    #fefefe50
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fefefe,
    #fefefe50
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-shadow {
  background-color: #caccd1;
  color: #caccd1;

  background: #caccd1; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #caccd1,
    #caccd150
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #caccd1,
    #caccd150
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*****End***backgrounds**pokemon****/
/**************************/

@media screen and (min-width: 576px) {
  .login .main-title {
    font-size: 4rem;
  }
  .pokemon-details {
    margin-top: 7rem;
  }

  .pokemon-details .card img {
    max-width: 70%;
  }
}

@media screen and (min-width: 992px) {
  .login .card img {
    /* max-height: 90%; */
  }

  .main-title {
    /* font-size: 10rem; */
  }

  .pokemon-details .card img {
    max-width: 85%;
    max-height: 25rem;
  }
}
