* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
button {
  border-style: none;
  list-style-type: none;
}

ul {
  padding: 0;
}
ul li {
  list-style: none;
}

html {
  min-height: 100%;
  position: relative;
}
body,
#root,
.App {
  background-color: rgb(237, 27, 36);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/***********Login***********/
/**************************/
.main-title {
  font-size: 10rem;
  font-family: 'League Gothic', sans-serif;
  word-spacing: 0.5rem;
  line-height: 0.5em;
  letter-spacing: 10px;
  font-weight: bold;
}
.subtitle-1 {
  font-size: 3rem;
  font-weight: bold;
}
.subtitle-2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.login .card {
  min-height: 60vh;
  background-color: rgb(237, 27, 36);
}
.login .card .card-body {
  color: black;
  /* background-color: rgb(237, 27, 36, 0.9); */
  background-color: rgb(89, 179, 136);
}
.btn-login {
  background-color: rgb(89, 179, 136);
}
.btn-login:hover {
  opacity: 0.8;
  font-weight: bolder;
}

/*********End**Login********/
/**************************/

/*************Header**********/
/**************************/
.header .container {
  min-height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header > row {
  flex-grow: 1;
  height: 100%;
}
.header .main-title {
  font-size: 5rem;
  font-family: 'League Gothic', sans-serif;
  word-spacing: 0;
  line-height: 0;
  letter-spacing: 5px;
  font-weight: bolder;
}
/************End header**********/
/**************************/

/************filters**********/
/**************************/
.filters {
  min-height: 3rem;
  background-color: whitesmoke;
  border-radius: 2rem;
}
/*********End filters**********/
/**************************/

/*************Home**********/
/**************************/
.saludo {
  font-weight: bolder;
  background-color: rgb(89, 179, 136);
  font-size: 1.5rem;
}
.saludo span {
  color: rgb(237, 27, 36);
}

.pokemon-list {
  padding: 0 1rem;
}
.pokemon-list .card {
  max-height: 600px;
}
.pokemon-list .card button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100px; */
}

.pokemon-list .card .card-body {
  max-height: 350px;
  width: 100%;
}

.pokemon-list .card img {
  max-height: 150px;
  margin-bottom: -3vh;
  position: relative;
}

.pokemon-list .card .card-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.pokemon-list .card p,
.pokemon-list .card hr {
  margin: 0;
}
/*********End Home**********/
/**************************/

/*********Pokemon details**********/
/******************************/
.pokemon-details {
  margin-top: 5rem;
}
.main-card_details {
  max-height: 35rem;
}
.pokemon-details .card img {
  max-height: 40rem;
  max-width: 40%;
  margin: auto;
  position: relative;
  margin-top: -100px;
}
.pokemon-details {
  text-align: center;
}
.movements ul li hr {
  margin: 0.2rem;
}
/*********End pokemon details**********/
/******************************/

/*********PAGINATION**********/
/******************************/
.pagination{
  min-height: 3rem;
  background-color: whitesmoke;
  margin: 1rem auto;
  font-size: 1.2rem;
}
/*********END PAGINATION**********/
/******************************/

/*****backgrounds pokemon****/
/**************************/

@media screen and (min-width: 576px) {
  .pokemon-details {
    margin-top: 7rem;
  }
  .pokemon-details .card img {
    max-width: 70%;
  }
}

@media screen and (min-width: 992px) {
  .pokemon-details .card img {
    max-width: 85%;
    max-height: 25rem;
  }
}
.color-gray {
  color: gray;
}
.bg-fire {
  /* fire type */
  background-color: #fe5000;
  border: solid 7px #fe500050;
  color: #fe5000;
}
.bg-grass {
  /* grass type */
  background-color: #84bd00;
  border: solid 7px #84bd0050;
  color: #84bd00;
}
.bg-bug {
  /* bug type */
  background-color: #009f4d;
  border: solid 7px #009f4d50;
  color: #009f4d;
}

.bg-water {
  /* water type */
  background-color: #0077c8;
  border: solid 7px #0077c850;
  color: #0077c8;
}

.bg-normal {
  /* normal type */
  background-color: #683d5a;
  border: solid 7px #683d5a50;
  color: #683d5a;
}

.bg-fighting {
  /* fighting type */
  background-color: #bb1e10;
  border: solid 7px #bb1e1050;
  color: #bb1e10;
}

.bg-poison {
  /* poison type */
  background-color: #49176d;
  border: solid 7px #49176d50;
  color: #49176d;
}

.bg-ghost {
  /* ghost type */
  background-color: #00205b;
  border: solid 7px #00205b50;
  color: #00205b;
}

.bg-rock {
  /* rock type */
  background-color: #caccd1;
  border: solid 7px #caccd150;
  color: #caccd1;
}
.bg-dark {
  /* dark type */

  background-color: #050f2c;
  border: solid 7px #050f2c50;
  color: #050f2c;
}
.bg-ice {
  /* ice type */
  background-color: #74d2e7;
  border: solid 7px #74d2e750;
  color: #74d2e7;
}
.bg-steel {
  background-color: #335238;
  border: solid 7px #33523850;
  color: #335238;
}

.bg-dragon {
  background-color: #0085ad;
  border: solid 7px #0085ad50;
  color: #0085ad;
}

.bg-fairy {
  background-color: #ff4f81;
  border: solid 7px #ff4f8150;
  color: #ff4f81;
}

.bg-electric {
  background-color: #3369e7;
  border: solid 7px #3369e750;
  color: #3369e7;
}
.bg-ground {
  background-color: #ffc168;
  border: solid 7px #ffc16850;
  color: #ffc168;
}

.bg-flying {
  background-color: #efdf00;
  border: solid 7px #efdf0050;
  color: #efdf00;
}
.bg-psychic {
  background-color: #da1884;
  border: solid 7px #da188450;
  color: #da1884;
}
.bg-unknow {
  background-color: #fefefe;
  border: solid 7px #fefefe50;
  color: #fefefe;
}
.bg-shadow {
  background-color: #caccd1;
  border: solid 7px #caccd150;
  color: #caccd1;
}

/*****End***backgrounds**pokemon****/
/**************************/
